<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.charmasaur.romperstomper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
    android:label="@string/application_name"
    android:icon="@mipmap/launcher">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CycleActivity"
            android:label="@string/cycle_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tracker.CycleMapActivity"
            android:label="@string/cycle_map_activity_name"
            android:launchMode="standard"
            android:documentLaunchMode="intoExisting">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="romper-app.herokuapp.com"
                    android:pathPrefix="/cycler"/>
            </intent-filter>
        </activity>
        <service
            android:name=".CycleService"
            android:foregroundServiceType="location">
        </service>
    </application>

</manifest>
