<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Romper privacy policy</title>
  </head>
  <body>
    <h1>Romper privacy policy</h1>
    <h2>Introduction</h2>
    Romper tracks your location for the purposes of sharing your location with friends. This policy
    explains exactly what data are collected, when those data are collected, who can access those
    data, and for how long.

    <h2>What gets collected and stored</h2>
    Romper collects your location with high accuracy (usually to within a few metres). For each
    "romp" (defined as a single period between clicking "start" and "stop"), all the collected
    locations are linked together, to enable showing a route on a map. No data describing you, for
    example your name or username, are stored with those locations. No data are stored that
    connect separate romps, aside from the locations themselves (which can imply connection between
    romps, for example if they start or end at very similar places).

    <h2>When those data get collected</h2>
    Data are collected only during a romp (that is, between clicks of "start" and "stop", while the
    app is displaying the "romping" notification). No data are collected when not romping.

    <h2>Who can access those data</h2>
    Each romp generates a link, which you can access with the "share" button. Anybody with this link
    can view the data collected during that romp, including people with whom you did not share the
    link directly (for example if you shared the link with somebody, then they shared it with
    somebody else).

    The link is based on secure random numbers, so is almost impossible to guess or find via brute
    force.

    <h2>How long are the data available</h2>
    Each romp has an expiration period of 30 days from the start of the romp, after which the romp
    is considered expired. Once per month, data associated with all expired romps are deleted and
    cannot be recovered. Therefore all data is guaranteed to be deleted at most two months from
    when it gets collected.

    <h2>Where to get more info</h2>
    Romper is developed by Harry Slatyer. If you have questions or need more information, please
    contact: harry dot slatyer at gmail dot com.
  </body>
</html>
{% endautoescape %}
